<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2> Staff Information</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="staffForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="first_name" required>
                    <mat-error *ngIf="staffForm.get('first_name')?.hasError('required')">
                      Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Surname</mat-label>
                    <input matInput formControlName="last_name">
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <input matInput formControlName="phone" type="text" (input)="onInput($event)"
                    maxlength="10" required>
                    <mat-error *ngIf="staffForm.get('phone')?.hasError('required')">
                      Mobile No is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="staffForm.get('email')?.hasError('email') && staffForm.get('email')?.touched">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required>
                      <mat-option [value]="'Male'">
                        Male
                      </mat-option>
                      <mat-option [value]="'Female'">
                        Female
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="staffForm.get('gender')?.hasError('required')">
                      Gender is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Marital Status</mat-label>
                    <mat-select formControlName="matrialStatus" required>
                      <mat-option [value]="'Unmarried'">
                        Unmarried
                      </mat-option>
                      <mat-option [value]="'Married'">
                        Married
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Office Mobile</mat-label>
                    <input matInput formControlName="officeMobile" type="text" (input)="onInput($event)"
                    maxlength="10">
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Personal Email</mat-label>
                    <input matInput formControlName="pemail">
                    <mat-error *ngIf="staffForm.get('pemail')?.hasError('pemail') && staffForm.get('pemail')?.touched">
                      Please enter a valid email address
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Date Of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="staffForm.get('dob')?.hasError('required')">
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

                           

              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Country</mat-label>
                    <mat-select formControlName="country" (selectionChange)="onCountryChange($event)" required>
                      <mat-option *ngFor="let option of countries$ | async" [value]="option.id">{{ option.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="staffForm.get('country')?.hasError('required')">
                      Select Any Country
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="state" (selectionChange)="onCountryStateChangeDistrict($event)" required>
                      <mat-option *ngFor="let option of states$ | async" [value]="option.id">{{ option.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="staffForm.get('state')?.hasError('required')">
                      Select Any State
                    </mat-error>
                  </mat-form-field>
                </div>
      
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>District</mat-label>
                    <mat-select formControlName="district" (selectionChange)="onCountryStateDistrictChangeCity($event)" required>
                      <mat-option *ngFor="let option of districts$ | async" [value]="option.id">{{ option.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="staffForm.get('district')?.hasError('required')">
                      Select Any District
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
            
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>City</mat-label>
                    <mat-select formControlName="city" required>
                      <mat-option *ngFor="let option of cities$ | async" [value]="option.id">{{ option.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="staffForm.get('city')?.hasError('required')">
                      Select Any City
                    </mat-error>
                   </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Branch</mat-label>
                    <mat-select formControlName="branch" required>
                      <mat-option *ngFor="let option of branches$ | async" [value]="option.id">{{ option.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="staffForm.get('branch')?.hasError('required')">
                      Select Any Branch
                    </mat-error>
                   </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Source</mat-label>
                    <mat-select formControlName="source" required>
                      <mat-option *ngFor="let option of sources$ | async" [value]="option.id">{{ option.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="staffForm.get('source')?.hasError('required')">
                      Select Any Source
                    </mat-error>
                   </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Religion</mat-label>
                    <mat-select formControlName="religion" required>
                      <mat-option *ngFor="let option of religions$ | async" [value]="option.id">{{ option.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="staffForm.get('religion')?.hasError('required')">
                      Select Any Religion
                    </mat-error>
                   </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Caste</mat-label>
                    <mat-select formControlName="caste" required>
                      <mat-option *ngFor="let option of castes$ | async" [value]="option.id">{{ option.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="staffForm.get('caste')?.hasError('required')">
                      Select Any Caste
                    </mat-error>
                   </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Educational Type</mat-label>
                    <mat-select formControlName="eduType" required>
                      <mat-option [value]="'Regular'">
                        Regular
                      </mat-option>
                      <mat-option [value]="'Distance'">
                        Distance
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>


              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Qualification</mat-label>
                    <mat-select formControlName="qual" required>
                      <mat-option *ngFor="let option of educations$ | async" [value]="option.id">{{ option.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="staffForm.get('qual')?.hasError('required')">
                      Select Any Qualification
                    </mat-error>
                   </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address" required>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Aadhar Number</mat-label>
                    <input matInput formControlName="aadharno" type="text" (input)="onInput($event)"
                    maxlength="12" required>
                    <mat-error *ngIf="staffForm.get('aadharno')?.hasError('required')">
                      Aadhar is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>


              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Father Name</mat-label>
                    <input matInput formControlName="fname" >
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Father Mobile</mat-label>
                    <input matInput formControlName="fmobile">
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Father Address</mat-label>
                    <input matInput formControlName="faddress">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Reference Name</mat-label>
                    <input matInput formControlName="refname">
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Reference Mobile</mat-label>
                    <input matInput formControlName="refmobile">
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Reference Address</mat-label>
                    <input matInput formControlName="refaddress">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Joining Date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="jdate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="staffForm.get('jdate')?.hasError('required')">
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Past Experience Years</mat-label>
                    <input matInput formControlName="pexp" type="number" (input)="onInput($event)"
                    maxlength="2" required>
                    <mat-error *ngIf="staffForm.get('pexp')?.hasError('required')">
                      Past Experience is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input matInput formControlName="username" required>
                    <mat-error *ngIf="staffForm.get('username')?.hasError('required')">
                      User Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <label>SSC Certificate</label>
                  <app-file-upload formControlName="sscUploadFile"></app-file-upload>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <label>Higher Certificate</label>
                  <app-file-upload formControlName="higherUploadFile"></app-file-upload>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <label>Upload Aadhar</label>
                  <app-file-upload formControlName="aadharUploadFile"></app-file-upload>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <label>Upload Pancard</label>
                  <app-file-upload formControlName="pancardUploadFile"></app-file-upload>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <label>Upload Profile Picture</label>
                  <app-file-upload formControlName="profilePicUploadFile"></app-file-upload>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <label>Bank Passbook</label>
                  <app-file-upload formControlName="bankPassBookUploadFile"></app-file-upload>
                </div>
              </div> -->
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" required>
                    <mat-error *ngIf="staffForm.get('password')?.hasError('required')">
                      password is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Re-Enter Password</mat-label>
                    <input matInput formControlName="conformPassword" type="password" required>
                    <mat-error *ngIf="staffForm.get('conformPassword')?.hasError('required')">
                      Re-Enter password is required
                    </mat-error>
                  </mat-form-field>
                </div>
       
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" [disabled]="!staffForm.valid " mat-raised-button
                    color="primary">Submit</button>
                  <button type="button" mat-raised-button color="warn">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
